.grid-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 70px 1fr 50px;
  grid-template-areas:
    "header header"
    "sidenav main"
    "footer footer";
  height: 100%;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  background-color: #648ca6;
}

.sidenav {
  grid-area: sidenav;
  background-color: #394263;
  top: 0;
	left: 0;
	background-color: #111;
	opacity: .9;
}

.main {
  grid-area: main;
  padding:30px;
}

.footer {
  grid-area: footer;
  background-color: #648ca6;
}
.sidebar-menu {

}
.treeview {
  border-bottom:1px solid;
  padding:5px;
  text-align:left;
    text-decoration:none;

}
.sidebar-menu a {
	display: block;
	padding: 20px 30px;
	font-size: 14px;
	text-decoration: none;
	color: #ccc;
}
.treeview:hover {
	color: #fff;
	transition: 0.4s;
}
.slide a {
	color: #000;
	font-size: 36px;
}
#content {
	padding: 20px;
	transition: margin-left 0.7s;
	overflow: hidden;
	width: 100%;
}












